.header
  display: flex
  justify-content: space-between
  width: 100%
  max-width: 1170px
  &-container
    display: flex
    justify-content: center
    padding: 13px 60px
    background: white
  &-button-group
    display: flex
    & a:first-of-type
      margin-right: 1rem

.logo
  width: 104px
  cursor: pointer